@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
  .radial {
    display: none;
  }
}
@media (max-width: 768px) {
  .wave-slider {
    display: none;
  }
}
@media (max-width: 768px) {
  .parent {
    padding-inline: 0px;
  }
}
